BASE_URL=

# Database
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_ALLOWED_ORIGINS= # should be a comma separated list of allowed origins

# OAuth2 Providers
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=